{% extends 'base.html.twig' %}

{% block title %}NAP-Edit Groupe{% endblock %}

{% block body %}
    <h1>Edit {{ groupe.nomGroupe }}</h1><br>
    <div class="form-group col-8 m-auto">
        {{ form_start(editGroupeForm) }}
        {{ form(editGroupeForm) }}
        {{ form_end(editGroupeForm) }}
    </div>

    <a type="button" class="btn btn-light btn-lg col-8 m-auto" href="{{ path('groupe') }}">Retour</a>

	<a href='{{path('delete_groupe', {'id':groupe.id})}}' type="button" class="btn btn-light btn-lg col-8 m-auto">Supprimer </a>
{% endblock %}
