{% extends 'base.html.twig' %}

{% block title %}NAP-Groupes
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_ADMIN') %}
		<h2>Ajouter nouveau groupe</h2>
		{{ form_start(groupeForm) }}
		<div class="form-group col-8 m-auto">
			{{ form(groupeForm) }}
			</div>
			{{ form_end(groupeForm) }}
		{% endif %}
		<br>
	<h2>Les Groupes Norm'And.Prod</h2><br>
	<div id="cardGroupe">
		{% for groupe in groupes  %}
			<div class="card">
				{# <img class="card-img-top" src="..." alt="Card image cap"> #}
				<div class="card-body">
					<h4 class="card-title" style="color: #78af9f;"><strong>{{ groupe.nomGroupe }}</strong></h4>
					<h5 class="card-title">{{ groupe.style }}</h5>
					<h6 class="card-title">	{{ groupe.ville }} </h6>
					<p class="card-text" style="text-align: justify;">{{ groupe.description }}</p>
					{# <a class="btn" href="{{path('{{ groupe.nomGroupe }}') }}" style="background-color: #78af9f;">Consulter</a> #}
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<a href='{{path('delete_groupe', {'id':groupe.id})}}' type="button" class="btn btn-danger">Supprimer
					</a>
					<a href='{{path('edit_groupe', {'id':groupe.id})}}' type="button" class="btn btn-warning">Éditer
					</a>
				{% endif %}
			</div>
		{% else %}
			<p colspan="6">Aucun groupe trouvé</p>
		{% endfor %}
	</div>
{% endblock %}
